.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 56px;
}

.section-header h3 {
  color: var(--color-red);
  font: var(--subtittle);
}

.section-header p {
  color: var(--gray-600);
  font: var(--title-md);
  text-align: center;
}


#projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

#projects .card {
  width: 330px;
  height: 280px;
  background: var(--gray-300);
  padding: 20px;
  border-radius: 8px;
  margin-top: 56px;
}

.card {
  width: 330px;
  height: 280px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start; /* centraliza tudo no eixo horizontal */

}

.card img {
  width: 100%; /* ou um tamanho menor como 80% se quiser bordas laterais */
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card h4 {
font: var(--title-sm);
color: var(--gray-600) ;
}

#projects .card p {
  font: var(--text-sm);
  color: var(--gray-500);
}

#services {
  background-color: var(--gray-100);
  padding-top: 160px;
  padding-bottom: 120px;
}

.section-header {
  text-align: center;
  margin-bottom: 56px;
}

.section-header h3 {
  color: var(--color-red);
  font: var(--subtittle);
  margin: 0;
}

.section-header p {
  color: var(--gray-600);
  font: var(--title-md);
  margin: 8px 0 0 0;
}

.services-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1020px; /* 280*3 + 20*2 de gap */
  margin: 0 auto;
}

.service-card {
  width: 280px;
  height: 155px;
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  padding: 20px;

  display: flex;
  flex-direction: column; /* empilha verticalmente */
  align-items: flex-start; /* alinha à esquerda */
  gap: 20px;
  box-sizing: border-box;
  text-align: left; /* texto alinhado à esquerda */
}

.service-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}


.service-text h4 {
  font: var(--title-sm);
  color: var(--gray-600);
  margin: 0;
}

.service-text p {
  font: var(--text-sm);
  color: var(--gray-500);
  margin: 0;
}

